<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://www.yoan.eu/kisiowall/grid/css/bootstrap.min.css">
    <title>The Final Count Down</title>
    <link href="./The Final Count Down_files/style.css" rel="stylesheet" type="text/css">
    <script src="./The Final Count Down_files/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <script src="https://use.fontawesome.com/05c65f012c.js"></script>
</head>
<body>
<div class="container-fluid squares">
    <div></div>

    <div class="col-sm-12 height-6">
        <div class="grids" style="background-color: #ff6600">
            <i class="fa fa-heart-o" style="color: white; font-size: 180px;" aria-hidden="true"></i>
            <h1 style="font-size: 120px">Only 1</h1>
            <p>Stephan Simart</p>
        </div>
    </div>

</div>
<footer style="position: fixed; bottom: 0px; width: 100%; height: 60px; background-color: white;">
    <img src="https://image-store.slidesharecdn.com/7b72319c-3630-4da3-91b7-2aaf57c997fe-large.png" width="130">
    <div id="twitter_update_list">
    </div>
</footer>
</body>
</html>